@import "~@/sass/variables"
@import "~@/sass/mixins"

.color-pallete
  position: relative
  width: 400px
  display: flex
  flex-direction: column
  align-items: center
  padding: 20px
  border-radius: $borderRadius
  margin-left: 40px
  @include materialBackground

  &:first-child
    margin-left: 0
  
  &__item
    position: relative
    width: 360px
    max-height: 60px
    height: 7vh
    display: flex
    justify-content: flex-start
    align-items: center
    padding-left: 20px

    &:nth-of-type(1)
      border-radius: $borderRadius $borderRadius 0 0
    
    &:last-child
      border-radius: 0 0 $borderRadius $borderRadius 
      

    &:hover
      .color-pallete__item-code
        opacity: 1
        transform: translateX(0)
    
  &__item-code
    background-color: primaryColor(700)
    border-radius: $borderRadius
    padding: 5px
    color: secondaryColor(400)
    cursor: pointer
    transform: translateX(-20px)
    opacity: 0
    transition: opacity .2s, transform .2s

    &:hover
      background-color: primaryColor(800)

    &:active
      background-color: primaryColor(900)
