@import "~@/sass/variables"
@import "~@/sass/mixins"

.app-logo
  font-weight: bold
  font-size: 28px
  color: $secondaryColor
  user-select: none

  @media screen and ( min-width: 900px )
    position: absolute
    left: 10%
    top: 40px
  @media screen and ( max-width: 899px )
    margin-top: 40px

.content
  position: relative
  width: 100%
  height: calc(100vh - #{$menuHeight})
  display: flex
  justify-content: flex-start
  align-items: flex-start

  &__color-pallets
    position: relative
    width: calc( 100vw - 250px )
    height: 100%
    padding: 2em 0 1em 3em
    overflow-x: auto

    &__wrapper
      position: relative
      display: inline-flex
      min-width: 100%
      padding-right: 3em
      